.KTREditor {
    width: 100%;
    margin: 0 auto;
    background: #f4f4f4;
    border-radius: 6px;
    font-family: 'PingFang SC';
    font-size: 14px;
    border: 1px solid #feefd0;
}

/* 
    header
*/
.KTREditor .KTREditor_header {
    background: #ffffff;
    min-height: 40px;
    border-radius: 6px 6px 0px 0px;
    padding: 0 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
}

.KTREditor .KTREditor_header .is-active {
    background: #f4f4f4;
}
.KTREditor .KTREditor_header .is-active > svg {
    fill: #faad14;
}

.KTREditor .KTREditor_header > div {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.KTREditor .KTREditor_header > span {
    padding: 0 22px 0 14px;
    font-size: 16px;
    color: #747474;
}
.KTREditor .KTREditor_header > div:hover {
    background: #f4f4f4;
}
.KTREditor .KTREditor_header > div:hover svg {
    fill: #faad14;
}

/* 
    content
*/
.KTREditor .KTREditor_content {
    border-radius: 6px;
}
