.KTREditor {
    width: 100%;
    margin: 0 auto;
    background: #f4f4f4;
    border-radius: 6px;
    font-family: 'PingFang SC';
    font-size: 14px;
    border: 1px solid #feefd0;
}

/* 
    header
*/
.KTREditor .KTREditor_header {
    background: #ffffff;
    min-height: 40px;
    border-radius: 6px 6px 0px 0px;
    padding: 0 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
}

.KTREditor .KTREditor_header .is-active {
    background: #f4f4f4;
    color: #faad14;
}

/* .KTREditor .KTREditor_header > div {
    padding: 4px 0;
    height: 40px;
} */
/* 
.KTREditor .KTREditor_header .KTREditor_group:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 24px;
    display: inline-block;
    border-left: 1px solid #707070;
    opacity: 0.16;
    margin: 0 22px;
    position: relative;
    top: 4px;
} */

.KTREditor .KTREditor_header > div {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.KTREditor .KTREditor_header > div:hover {
    background: #f4f4f4;
}
.KTREditor .KTREditor_header > div:hover svg {
    fill: #faad14;
}

/* 
    content
*/
.KTREditor .KTREditor_content {
    border-radius: 6px;
}
